<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderShowsLabelColorsAutosaveName</key>
	<true/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {191, 695}}</string>
		<string>{{192, 0}, {850, 695}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
		<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
		<string>11E162E5-C0E0-4764-B847-727FE9DFD9CB</string>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 685}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>5</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FCDF5615-90C6-4C9B-AE3F-14F471A44E21</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>591D9D0C-9A6F-4390-9AEA-F59A87E8A551</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C429039C-9A1B-4E78-AF37-04BC1D1B1F57</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A0C3BEF9-51D5-4D07-A857-62203C69FBB4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1AF8C46F-9929-4E1D-A1B6-454E24073AAA</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>label</key>
			<real>208</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>103</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>252</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 341.66666666666669}, {566.66666666666663, 405.99999999999994}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.selectedTextRanges</key>
	<string>3211,0</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>94 161 1042 717 0 0 1440 878 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
