<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/lawrence/Desktop/research-sandbox/articles</string>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>3</integer>
		<key>Title</key>
		<string>Markdown</string>
	</dict>
	<key>binderSelection</key>
	<array>
		<integer>15</integer>
	</array>
	<key>binderShowsLabelColorsAutosaveName</key>
	<true/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {237, 772}}</string>
		<string>{{238, 0}, {1029, 772}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
		<string>47756D3D-3235-4B59-9AD3-FB09C78CA10C</string>
		<string>5054D016-B8B3-46A8-B333-FB33CE49A3FD</string>
		<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
		<string>46DC9C7F-C12F-4039-AECE-3F50E817499A</string>
		<string>107AFE45-20D7-4220-BAE2-1EF5363E4B54</string>
		<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
		<string>371B9CB6-E720-40E5-BBBA-0FAD3841DE6D</string>
		<string>E178C43A-001E-4C14-8C4B-1F41E853FF49</string>
		<string>0B30F935-4B83-4B15-90B1-1AE2628BE383</string>
		<string>11E162E5-C0E0-4764-B847-727FE9DFD9CB</string>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{588, 0}, {581, 742}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>1</integer>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 762}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>2D54A7EB-2F45-495A-B07B-BB4389320F9E</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E66EFAB6-E367-463C-AC2B-A573A8BF13EA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{371, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
					<string>0B251A0C-D6A3-4FD8-B128-C73938628FD3</string>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{28, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{1304, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{2389, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{2838, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{4066, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0B251A0C-D6A3-4FD8-B128-C73938628FD3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0B251A0C-D6A3-4FD8-B128-C73938628FD3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{7984, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{3000, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BCB1301A-7425-446B-8A59-45F66955444C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{3684, 16}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F84533BF-7528-4B09-8F17-72999A9545D7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>107AFE45-20D7-4220-BAE2-1EF5363E4B54</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{1685, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{3821, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E355F684-CEBD-41AC-8311-1629CCEF4754</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E355F684-CEBD-41AC-8311-1629CCEF4754</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AF76FEE3-CF5C-4A2A-85ED-B1FC1A47433A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E355F684-CEBD-41AC-8311-1629CCEF4754</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8ACD0ADC-4908-407C-8B16-E87BABCE17BE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E355F684-CEBD-41AC-8311-1629CCEF4754</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8ACD0ADC-4908-407C-8B16-E87BABCE17BE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8ACD0ADC-4908-407C-8B16-E87BABCE17BE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>88BB55AD-5769-4CC6-B2EC-DCCB59D07A27</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E355F684-CEBD-41AC-8311-1629CCEF4754</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>88BB55AD-5769-4CC6-B2EC-DCCB59D07A27</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>88BB55AD-5769-4CC6-B2EC-DCCB59D07A27</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{6565, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AF76FEE3-CF5C-4A2A-85ED-B1FC1A47433A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>88BB55AD-5769-4CC6-B2EC-DCCB59D07A27</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8ACD0ADC-4908-407C-8B16-E87BABCE17BE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>88BB55AD-5769-4CC6-B2EC-DCCB59D07A27</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8ACD0ADC-4908-407C-8B16-E87BABCE17BE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>88BB55AD-5769-4CC6-B2EC-DCCB59D07A27</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>88BB55AD-5769-4CC6-B2EC-DCCB59D07A27</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8ACD0ADC-4908-407C-8B16-E87BABCE17BE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E355F684-CEBD-41AC-8311-1629CCEF4754</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8ACD0ADC-4908-407C-8B16-E87BABCE17BE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{7488, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{6584, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E355F684-CEBD-41AC-8311-1629CCEF4754</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8ACD0ADC-4908-407C-8B16-E87BABCE17BE</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>88BB55AD-5769-4CC6-B2EC-DCCB59D07A27</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>label</key>
			<real>208</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>103</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>252</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 457.33333333333331}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{375, 0}</string>
	<key>mainDocumentEditor.selectedTextRanges</key>
	<string>1292,0</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>125</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainWindowFrame</key>
	<string>0 83 1267 794 0 0 1440 877 </string>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<string>A9567FC6-8182-42CF-89BB-2C58CE534BE7</string>
	</array>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F84533BF-7528-4B09-8F17-72999A9545D7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>52ECA539-1DE1-4C9C-B96D-EB46A715373F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>382F302D-C63A-4DAE-B09A-C70DFA6B994C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F02EED7E-473C-4565-92E3-3B90B658356E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5C8D55F3-4373-41E1-A3A3-240E378DEA10</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>67A8C296-C3E2-490B-8D2D-2BAA9157E92A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F02EED7E-473C-4565-92E3-3B90B658356E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>67A8C296-C3E2-490B-8D2D-2BAA9157E92A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>47756D3D-3235-4B59-9AD3-FB09C78CA10C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{387, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F84533BF-7528-4B09-8F17-72999A9545D7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{10, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F84533BF-7528-4B09-8F17-72999A9545D7</string>
					<string>52ECA539-1DE1-4C9C-B96D-EB46A715373F</string>
					<string>382F302D-C63A-4DAE-B09A-C70DFA6B994C</string>
					<string>F02EED7E-473C-4565-92E3-3B90B658356E</string>
					<string>5C8D55F3-4373-41E1-A3A3-240E378DEA10</string>
					<string>67A8C296-C3E2-490B-8D2D-2BAA9157E92A</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9BE20F0-3B04-40F7-9F25-B8182EE15BC0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>46DC9C7F-C12F-4039-AECE-3F50E817499A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98A9D128-12D2-4864-B336-DAE7091C5093</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5C730DE9-E4C4-429A-B204-B5A1863B55F5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>98A9D128-12D2-4864-B336-DAE7091C5093</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>46DC9C7F-C12F-4039-AECE-3F50E817499A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9BE20F0-3B04-40F7-9F25-B8182EE15BC0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8F78AFE0-51A4-473F-9F62-7476C7A09638</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8F78AFE0-51A4-473F-9F62-7476C7A09638</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DA58E28A-80BC-4CE6-8E69-0137C8BD8EF2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>47756D3D-3235-4B59-9AD3-FB09C78CA10C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8F78AFE0-51A4-473F-9F62-7476C7A09638</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{602, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2411B8AA-F573-4D14-B575-853C82651DEF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2411B8AA-F573-4D14-B575-853C82651DEF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2411B8AA-F573-4D14-B575-853C82651DEF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E66EFAB6-E367-463C-AC2B-A573A8BF13EA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E66EFAB6-E367-463C-AC2B-A573A8BF13EA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2411B8AA-F573-4D14-B575-853C82651DEF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28FF136A-756A-4791-BB14-215AF2E76D14</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28FF136A-756A-4791-BB14-215AF2E76D14</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>94AC3FFC-6A7F-44B6-BF8D-9FF1A1A95805</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>94AC3FFC-6A7F-44B6-BF8D-9FF1A1A95805</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E66EFAB6-E367-463C-AC2B-A573A8BF13EA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28FF136A-756A-4791-BB14-215AF2E76D14</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28FF136A-756A-4791-BB14-215AF2E76D14</string>
					<string>94AC3FFC-6A7F-44B6-BF8D-9FF1A1A95805</string>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
					<string>A5EB58CA-CCE2-418C-8630-DD33035E4FA7</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E66EFAB6-E367-463C-AC2B-A573A8BF13EA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>107AFE45-20D7-4220-BAE2-1EF5363E4B54</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28FF136A-756A-4791-BB14-215AF2E76D14</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28FF136A-756A-4791-BB14-215AF2E76D14</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE302B66-EEAD-4E74-8830-5033E5AA8B3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F84533BF-7528-4B09-8F17-72999A9545D7</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{130, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>47756D3D-3235-4B59-9AD3-FB09C78CA10C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>72857ABA-3E54-49A8-B8C3-6485AEB8DB08</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F84533BF-7528-4B09-8F17-72999A9545D7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28FF136A-756A-4791-BB14-215AF2E76D14</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>72857ABA-3E54-49A8-B8C3-6485AEB8DB08</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{1734, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28FF136A-756A-4791-BB14-215AF2E76D14</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F84533BF-7528-4B09-8F17-72999A9545D7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2411B8AA-F573-4D14-B575-853C82651DEF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>28FF136A-756A-4791-BB14-215AF2E76D14</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2411B8AA-F573-4D14-B575-853C82651DEF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>72857ABA-3E54-49A8-B8C3-6485AEB8DB08</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2411B8AA-F573-4D14-B575-853C82651DEF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2411B8AA-F573-4D14-B575-853C82651DEF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2411B8AA-F573-4D14-B575-853C82651DEF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E173CE3F-268F-460A-907C-87D5FB65452B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{286, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>72857ABA-3E54-49A8-B8C3-6485AEB8DB08</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0B251A0C-D6A3-4FD8-B128-C73938628FD3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>72857ABA-3E54-49A8-B8C3-6485AEB8DB08</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E66EFAB6-E367-463C-AC2B-A573A8BF13EA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>47756D3D-3235-4B59-9AD3-FB09C78CA10C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EC3E216-A789-4481-AB3F-C5EC7F9CBFCF</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{448, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EBEA81A-9D08-4632-8C84-F9989D1C54A2</string>
					<string>0B251A0C-D6A3-4FD8-B128-C73938628FD3</string>
					<string>14D142AD-7336-453F-AF5C-E2094B27F91F</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{2827, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>47756D3D-3235-4B59-9AD3-FB09C78CA10C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E50D90EC-1BB7-443B-B9BB-1FD2ABA675E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE302B66-EEAD-4E74-8830-5033E5AA8B3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>47756D3D-3235-4B59-9AD3-FB09C78CA10C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{1616, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{5615, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>47756D3D-3235-4B59-9AD3-FB09C78CA10C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>supportingDocumentEditor.selectedRanges</key>
	<string>{67, 0}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>125</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
