<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnabledCompilePresets</key>
	<array/>
	<key>RecentMoveTos</key>
	<array>
		<integer>2</integer>
	</array>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>binderSelection</key>
	<array>
		<integer>4</integer>
	</array>
	<key>binderShowsLabelColorsAutosaveName</key>
	<true/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {329, 588}}</string>
		<string>{{330, 0}, {952, 588}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
		<string>DEDAFCFE-892D-4E49-B109-607A40DB68BA</string>
		<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
		<string>A580DB07-C089-44CC-811D-84C6B922F1D3</string>
		<string>A74CDDF7-BA6A-4390-A282-97FDC69883D4</string>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {826, 476.5}}</string>
		<string>{{0, 486.5}, {826, 237.5}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSelectedDataTab</key>
	<integer>5</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {790, 724}}</string>
		<string>{{791, 0}, {227, 724}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A32BD0E8-6D8C-4EB0-A6E7-802386C28C8C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A95B0825-0BF3-4175-9644-AC1065C5FB7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A32BD0E8-6D8C-4EB0-A6E7-802386C28C8C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A95B0825-0BF3-4175-9644-AC1065C5FB7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0124389C-9190-4CE4-AA4F-6C37D355F003</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9C00513D-B296-43F8-AD1C-29ED4DE0F7DA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A95B0825-0BF3-4175-9644-AC1065C5FB7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A32BD0E8-6D8C-4EB0-A6E7-802386C28C8C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A95B0825-0BF3-4175-9644-AC1065C5FB7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>66D4E266-1012-4970-9451-8A465DFE8F1A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{2548, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CB2E588A-369C-4749-8474-D402B2F7B149</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>48081C84-3DF6-4E16-AF38-D5C451883144</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{4035, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CB2E588A-369C-4749-8474-D402B2F7B149</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>371B9CB6-E720-40E5-BBBA-0FAD3841DE6D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DBB8844D-8B15-4203-BC84-83F9BB4530A1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8D784A22-B8B0-41DB-AB7D-77BA2378CE22</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9BA0AB36-84A0-43A4-A3CB-377EC9F4557D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>471C056A-6754-4892-8F28-AD19C4C8580B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F1F8A7FA-EE27-4859-940A-4CFBC780C001</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3939D8EC-3916-48B9-BEEE-027ED6961DFA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9BA0AB36-84A0-43A4-A3CB-377EC9F4557D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8D784A22-B8B0-41DB-AB7D-77BA2378CE22</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DBB8844D-8B15-4203-BC84-83F9BB4530A1</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0EE8CA0A-C0EE-4F36-A312-45F5A4DFD78C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E915CDB9-4A93-40A4-9E7C-555F2F8E7394</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>223452A7-CB37-4431-9FF2-946A1764E53C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DD53609E-339A-4AD9-B57B-529A7B0827C7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>66D4E266-1012-4970-9451-8A465DFE8F1A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D7560DF9-12D8-4A03-A4A6-17D2F4EE820B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F06FDDF8-3359-4187-8206-CEDF7AFC0AFD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>63746BEC-6DA4-4D84-8E5D-A60B58C03219</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2BA02304-21D7-454F-94B3-14F48A154F4F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>648C4110-9183-4475-B9C6-B5F0EC739F1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B1F705FF-780B-492C-86B3-54E2E0264F67</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A134881E-F27B-4CE7-8B92-03B0A6BC871A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{2078, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B1F705FF-780B-492C-86B3-54E2E0264F67</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A134881E-F27B-4CE7-8B92-03B0A6BC871A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B33C318B-0EA2-4416-B18F-F1E7B860FB42</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B1F705FF-780B-492C-86B3-54E2E0264F67</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F934A752-166F-4268-953F-E8DCE5CEA48A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>993EA6BF-6DBE-488A-8FDE-29935ED08D64</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B1F705FF-780B-492C-86B3-54E2E0264F67</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F934A752-166F-4268-953F-E8DCE5CEA48A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B1F705FF-780B-492C-86B3-54E2E0264F67</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{1245, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>993EA6BF-6DBE-488A-8FDE-29935ED08D64</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CB2E588A-369C-4749-8474-D402B2F7B149</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8D882CE6-7C29-4FFC-BC65-AFA92D1EEB8A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2F2579DA-FF32-4CE8-A91D-0480FFB6FA34</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{19478, 10}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B1F705FF-780B-492C-86B3-54E2E0264F67</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F934A752-166F-4268-953F-E8DCE5CEA48A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D4E7EFF-6E0B-449B-BAFC-85C710E238F7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F934A752-166F-4268-953F-E8DCE5CEA48A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D4E7EFF-6E0B-449B-BAFC-85C710E238F7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F934A752-166F-4268-953F-E8DCE5CEA48A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D4E7EFF-6E0B-449B-BAFC-85C710E238F7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F934A752-166F-4268-953F-E8DCE5CEA48A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D4E7EFF-6E0B-449B-BAFC-85C710E238F7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F934A752-166F-4268-953F-E8DCE5CEA48A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A134881E-F27B-4CE7-8B92-03B0A6BC871A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B1F705FF-780B-492C-86B3-54E2E0264F67</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A580DB07-C089-44CC-811D-84C6B922F1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2A49755F-B0D1-4967-9506-611FABC2BBAD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>453EF0ED-02EE-4CCA-ACA9-55B936C3FDE9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2A49755F-B0D1-4967-9506-611FABC2BBAD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2A49755F-B0D1-4967-9506-611FABC2BBAD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A02467EC-3706-4ABC-A1DC-7C9CCD89EB5B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6E7D677E-626B-4EB1-8B74-6B7A68CD485E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A134881E-F27B-4CE7-8B92-03B0A6BC871A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D2C7B50C-7F29-437F-82BE-E13F3545E81F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A02467EC-3706-4ABC-A1DC-7C9CCD89EB5B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>453EF0ED-02EE-4CCA-ACA9-55B936C3FDE9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BBEEAA36-DAB1-4E75-B3D0-58FB76C4EE3D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
					<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
					<string>B1F705FF-780B-492C-86B3-54E2E0264F67</string>
					<string>1D4E7EFF-6E0B-449B-BAFC-85C710E238F7</string>
					<string>A134881E-F27B-4CE7-8B92-03B0A6BC871A</string>
					<string>E427E4F6-0268-41BB-9AFA-5E9748F074F7</string>
					<string>6E7D677E-626B-4EB1-8B74-6B7A68CD485E</string>
					<string>D2C7B50C-7F29-437F-82BE-E13F3545E81F</string>
					<string>993EA6BF-6DBE-488A-8FDE-29935ED08D64</string>
					<string>D06A0286-0247-4C4C-BBE1-4C8C9A393908</string>
					<string>0DAD46A7-F1B7-4086-8D54-CB86602EDBCD</string>
					<string>F06FDDF8-3359-4187-8206-CEDF7AFC0AFD</string>
					<string>66D4E266-1012-4970-9451-8A465DFE8F1A</string>
					<string>6C6D6927-A269-4A29-AC6D-0C98AA3FE96C</string>
					<string>B3D557B5-17F8-4389-B1B0-E31EEA4DE9E0</string>
					<string>071999DF-AE5A-44CB-90DC-892F6A3F2B80</string>
					<string>CB2E588A-369C-4749-8474-D402B2F7B149</string>
					<string>8D882CE6-7C29-4FFC-BC65-AFA92D1EEB8A</string>
					<string>48081C84-3DF6-4E16-AF38-D5C451883144</string>
					<string>2D555000-FFF3-43D6-9B2B-4D4AA8074E07</string>
					<string>06E283A7-AFB0-4D78-A9DE-B880F9130A70</string>
					<string>9C454DD4-DAA0-4516-A367-4CD8B226CC1F</string>
					<string>75B1EA84-CA2F-4525-9AE9-E2F8E6AD0C72</string>
					<string>2F2579DA-FF32-4CE8-A91D-0480FFB6FA34</string>
					<string>D7560DF9-12D8-4A03-A4A6-17D2F4EE820B</string>
					<string>ED89B028-D301-4B62-B133-91012FA2CB17</string>
					<string>B33C318B-0EA2-4416-B18F-F1E7B860FB42</string>
					<string>453EF0ED-02EE-4CCA-ACA9-55B936C3FDE9</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9146C3C-C9A7-44FE-B251-2139617B9DF4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
					<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
					<string>B1F705FF-780B-492C-86B3-54E2E0264F67</string>
					<string>1D4E7EFF-6E0B-449B-BAFC-85C710E238F7</string>
					<string>A134881E-F27B-4CE7-8B92-03B0A6BC871A</string>
					<string>E427E4F6-0268-41BB-9AFA-5E9748F074F7</string>
					<string>6E7D677E-626B-4EB1-8B74-6B7A68CD485E</string>
					<string>D2C7B50C-7F29-437F-82BE-E13F3545E81F</string>
					<string>993EA6BF-6DBE-488A-8FDE-29935ED08D64</string>
					<string>D06A0286-0247-4C4C-BBE1-4C8C9A393908</string>
					<string>0DAD46A7-F1B7-4086-8D54-CB86602EDBCD</string>
					<string>F06FDDF8-3359-4187-8206-CEDF7AFC0AFD</string>
					<string>66D4E266-1012-4970-9451-8A465DFE8F1A</string>
					<string>6C6D6927-A269-4A29-AC6D-0C98AA3FE96C</string>
					<string>B3D557B5-17F8-4389-B1B0-E31EEA4DE9E0</string>
					<string>071999DF-AE5A-44CB-90DC-892F6A3F2B80</string>
					<string>CB2E588A-369C-4749-8474-D402B2F7B149</string>
					<string>8D882CE6-7C29-4FFC-BC65-AFA92D1EEB8A</string>
					<string>48081C84-3DF6-4E16-AF38-D5C451883144</string>
					<string>2D555000-FFF3-43D6-9B2B-4D4AA8074E07</string>
					<string>06E283A7-AFB0-4D78-A9DE-B880F9130A70</string>
					<string>9C454DD4-DAA0-4516-A367-4CD8B226CC1F</string>
					<string>75B1EA84-CA2F-4525-9AE9-E2F8E6AD0C72</string>
					<string>2F2579DA-FF32-4CE8-A91D-0480FFB6FA34</string>
					<string>D7560DF9-12D8-4A03-A4A6-17D2F4EE820B</string>
					<string>ED89B028-D301-4B62-B133-91012FA2CB17</string>
					<string>B33C318B-0EA2-4416-B18F-F1E7B860FB42</string>
					<string>453EF0ED-02EE-4CCA-ACA9-55B936C3FDE9</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BBEEAA36-DAB1-4E75-B3D0-58FB76C4EE3D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>935F7706-2C18-4DC9-BA65-3265F50D0A38</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9146C3C-C9A7-44FE-B251-2139617B9DF4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BBEEAA36-DAB1-4E75-B3D0-58FB76C4EE3D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE73C422-FA2E-43D9-9F6B-827A4A472153</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE73C422-FA2E-43D9-9F6B-827A4A472153</string>
					<string>9DABFEC4-727B-44BF-954A-3502A062EF56</string>
					<string>2F4AC097-4590-42D9-9B8C-B64A98FE3D7C</string>
					<string>FA422D6E-BEC1-4A87-BF50-4F11FF6A202F</string>
					<string>B02DDCA0-25F2-4AE1-97C4-39D5229684F4</string>
					<string>A2C6E946-4D35-4804-A438-31F229C636E9</string>
					<string>8557F609-1BE9-4903-9B8D-8D7759C3CBA7</string>
					<string>54E590F6-AF35-4C42-AA90-3EA2D3F4603E</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>935F7706-2C18-4DC9-BA65-3265F50D0A38</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{187, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A580DB07-C089-44CC-811D-84C6B922F1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A02467EC-3706-4ABC-A1DC-7C9CCD89EB5B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>label</key>
			<real>208</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>103</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>252</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {632, 340.79999}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>125</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentView</key>
	<string>supportingDocumentEditor</string>
	<key>mainWindowFrame</key>
	<string>62 184 1282 610 0 0 1440 877 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<true/>
		<key>currentCompileGroupOnly</key>
		<false/>
		<key>excludeAnnots</key>
		<false/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<true/>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<false/>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>350</integer>
	</dict>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<string>B952DFB7-381D-46AB-8B64-C1801DC7EA76</string>
	</array>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A559BDD-6572-4FCC-B5E3-8AB88BC5FE1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE73C422-FA2E-43D9-9F6B-827A4A472153</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2A49755F-B0D1-4967-9506-611FABC2BBAD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A580DB07-C089-44CC-811D-84C6B922F1D3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D74F2169-97BD-4B9A-AE34-6C9F7785ED17</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2A49755F-B0D1-4967-9506-611FABC2BBAD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D74F2169-97BD-4B9A-AE34-6C9F7785ED17</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A02467EC-3706-4ABC-A1DC-7C9CCD89EB5B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2A49755F-B0D1-4967-9506-611FABC2BBAD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D74F2169-97BD-4B9A-AE34-6C9F7785ED17</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE73C422-FA2E-43D9-9F6B-827A4A472153</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A2C6E946-4D35-4804-A438-31F229C636E9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B02DDCA0-25F2-4AE1-97C4-39D5229684F4</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AEE1E67E-DBE5-4C58-8590-3750E58264A0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2F4AC097-4590-42D9-9B8C-B64A98FE3D7C</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AEE1E67E-DBE5-4C58-8590-3750E58264A0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F0C7472A-6A2B-4F5E-BB52-2A2FE9ED2924</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D40BDCAD-FC39-4585-BC78-BEB9EE2EEB32</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F0C7472A-6A2B-4F5E-BB52-2A2FE9ED2924</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BBEEAA36-DAB1-4E75-B3D0-58FB76C4EE3D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D40BDCAD-FC39-4585-BC78-BEB9EE2EEB32</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9DABFEC4-727B-44BF-954A-3502A062EF56</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2F4AC097-4590-42D9-9B8C-B64A98FE3D7C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>FA422D6E-BEC1-4A87-BF50-4F11FF6A202F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F6A4B052-A152-4B3D-9798-23F562C174F9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>14726D69-3F9C-48EE-976A-14664237AEB5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AEE1E67E-DBE5-4C58-8590-3750E58264A0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BBEEAA36-DAB1-4E75-B3D0-58FB76C4EE3D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DEDAFCFE-892D-4E49-B109-607A40DB68BA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2F4AC097-4590-42D9-9B8C-B64A98FE3D7C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2F4AC097-4590-42D9-9B8C-B64A98FE3D7C</string>
					<string>FA422D6E-BEC1-4A87-BF50-4F11FF6A202F</string>
					<string>B02DDCA0-25F2-4AE1-97C4-39D5229684F4</string>
					<string>A2C6E946-4D35-4804-A438-31F229C636E9</string>
					<string>8557F609-1BE9-4903-9B8D-8D7759C3CBA7</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A559BDD-6572-4FCC-B5E3-8AB88BC5FE1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AEE1E67E-DBE5-4C58-8590-3750E58264A0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE73C422-FA2E-43D9-9F6B-827A4A472153</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0343F80C-1B60-4C9E-B334-8F97DBD253D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>63746BEC-6DA4-4D84-8E5D-A60B58C03219</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CE73C422-FA2E-43D9-9F6B-827A4A472153</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0343F80C-1B60-4C9E-B334-8F97DBD253D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AEE1E67E-DBE5-4C58-8590-3750E58264A0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A8BE70E6-E95A-48A2-A842-8CB8016F3501</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AEE1E67E-DBE5-4C58-8590-3750E58264A0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A559BDD-6572-4FCC-B5E3-8AB88BC5FE1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A8BE70E6-E95A-48A2-A842-8CB8016F3501</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ABD9898D-1C57-43EF-9690-42BC4CB83373</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C1A9522-6FA7-4923-ABAD-F74924442E16</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>79730AA4-ACF5-44BC-8414-1E234EC1D0EC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A1932034-4FBD-4BAD-9F7C-071823087E0C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1A559BDD-6572-4FCC-B5E3-8AB88BC5FE1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>54E590F6-AF35-4C42-AA90-3EA2D3F4603E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A1932034-4FBD-4BAD-9F7C-071823087E0C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C1A9522-6FA7-4923-ABAD-F74924442E16</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>79730AA4-ACF5-44BC-8414-1E234EC1D0EC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A1932034-4FBD-4BAD-9F7C-071823087E0C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8557F609-1BE9-4903-9B8D-8D7759C3CBA7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A2C6E946-4D35-4804-A438-31F229C636E9</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>ABD9898D-1C57-43EF-9690-42BC4CB83373</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>79730AA4-ACF5-44BC-8414-1E234EC1D0EC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C1A9522-6FA7-4923-ABAD-F74924442E16</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CC1ECCA9-7D51-4355-A103-BA0720361061</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A1932034-4FBD-4BAD-9F7C-071823087E0C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>08E58B00-4390-4551-81BB-DE0C533683EC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>79730AA4-ACF5-44BC-8414-1E234EC1D0EC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>08E58B00-4390-4551-81BB-DE0C533683EC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CC1ECCA9-7D51-4355-A103-BA0720361061</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>08E58B00-4390-4551-81BB-DE0C533683EC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>79730AA4-ACF5-44BC-8414-1E234EC1D0EC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CC1ECCA9-7D51-4355-A103-BA0720361061</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C1A9522-6FA7-4923-ABAD-F74924442E16</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0343F80C-1B60-4C9E-B334-8F97DBD253D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A1932034-4FBD-4BAD-9F7C-071823087E0C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BE226FB8-6408-4CE9-AB78-5B9E0281EF1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9DABFEC4-727B-44BF-954A-3502A062EF56</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0343F80C-1B60-4C9E-B334-8F97DBD253D0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{201, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>24773813-FAD2-46D8-9F7B-501D53995BC5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3326557A-DBBC-4092-A7E7-D20A9C8D1F0A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DD53609E-339A-4AD9-B57B-529A7B0827C7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3326557A-DBBC-4092-A7E7-D20A9C8D1F0A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A02467EC-3706-4ABC-A1DC-7C9CCD89EB5B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A74CDDF7-BA6A-4390-A282-97FDC69883D4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DAA37330-ECD2-40EA-857D-EABCAE60E007</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F62C69A6-55A7-41EE-846E-5F9DE727AFCC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A74CDDF7-BA6A-4390-A282-97FDC69883D4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F62C69A6-55A7-41EE-846E-5F9DE727AFCC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>63746BEC-6DA4-4D84-8E5D-A60B58C03219</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DAA37330-ECD2-40EA-857D-EABCAE60E007</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>89F7BA4D-FA42-4C87-901F-D2A85AEF5B8E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AEE1E67E-DBE5-4C58-8590-3750E58264A0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C1A9522-6FA7-4923-ABAD-F74924442E16</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AEE1E67E-DBE5-4C58-8590-3750E58264A0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B952DFB7-381D-46AB-8B64-C1801DC7EA76</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9DABFEC4-727B-44BF-954A-3502A062EF56</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B952DFB7-381D-46AB-8B64-C1801DC7EA76</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2A49755F-B0D1-4967-9506-611FABC2BBAD</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9FDE3929-E4DB-4BED-9FFD-780FA1517782</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B952DFB7-381D-46AB-8B64-C1801DC7EA76</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {761.59998, 407.20001}}</string>
	<key>supportingDocumentEditor.selectedRanges</key>
	<string>{265, 0}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>125</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
