<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderShowsLabelColorsAutosaveName</key>
	<true/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {235, 780}}</string>
		<string>{{236, 0}, {578, 780}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
		<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
		<string>11E162E5-C0E0-4764-B847-727FE9DFD9CB</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>1AF8C46F-9929-4E1D-A1B6-454E24073AAA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B80283E3-57DD-4864-96F8-22066F78A31F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{573, 0}, {578, 750}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 770}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>33</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C472E441-9717-4956-A373-7F9A52D97AF3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>76FF20ED-6CF9-46CB-B3B4-5A6E9E5744FB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>67F52996-B918-473C-94AB-23D9CE49427A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D376376-E577-4DE2-B24B-A2ACC583DDDC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D01D16C-C48F-4434-9C70-568F696F6472</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>900ACCF1-5571-4C6D-871D-CDB2F63FD0E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D9F80BDA-C62A-41EB-AA31-8CD8AF983660</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5C6527B7-917F-42FB-A393-704D6B7740A6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D10FC5A-4B16-45A6-8619-9A8528D5BF7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>900ACCF1-5571-4C6D-871D-CDB2F63FD0E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DABD4E38-A80C-4355-93CF-93E8E89EA1F2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4CF5D5D5-40FE-472A-829E-35FC57F5365B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DABD4E38-A80C-4355-93CF-93E8E89EA1F2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4CF5D5D5-40FE-472A-829E-35FC57F5365B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DABD4E38-A80C-4355-93CF-93E8E89EA1F2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4D5EE7FE-C9FD-4342-87E6-908690E790F0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EB8D95A-FFB8-4DE0-A78A-60213D2BBE55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DABD4E38-A80C-4355-93CF-93E8E89EA1F2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DABD4E38-A80C-4355-93CF-93E8E89EA1F2</string>
					<string>4CF5D5D5-40FE-472A-829E-35FC57F5365B</string>
					<string>4D5EE7FE-C9FD-4342-87E6-908690E790F0</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D01D16C-C48F-4434-9C70-568F696F6472</string>
					<string>900ACCF1-5571-4C6D-871D-CDB2F63FD0E7</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D376376-E577-4DE2-B24B-A2ACC583DDDC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EB8D95A-FFB8-4DE0-A78A-60213D2BBE55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8E3C33C3-CEFE-4863-9847-DF51EC501456</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9F894557-6891-4635-8486-9C34C4AAE274</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>89B855C5-7978-4DD5-8AAB-E0F50B2A04D4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>256318D1-3B05-45B5-951E-D70D0E28C03F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E449F1B2-09FD-4D7C-8FDC-F82A5EC2B83F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B707D900-7E17-4752-98A5-4BEE0F659D58</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EB8D95A-FFB8-4DE0-A78A-60213D2BBE55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6DB055DB-CF08-4E5F-9C7A-781766A326ED</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D2D055A4-C4FF-4EED-8E74-5A42FEA7710F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7DF23DAD-A2CF-471F-B808-4FA75B0E1210</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>578422BE-8822-4C7A-B992-B58D002FFDB0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B80283E3-57DD-4864-96F8-22066F78A31F</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsState</key>
	<dict>
		<key>order</key>
		<array>
			<string>title</string>
			<string>label</string>
			<string>status</string>
			<string>createdDate</string>
			<string>modifiedDate</string>
			<string>words</string>
			<string>characters</string>
			<string>includeInExport</string>
			<string>pageBreakBefore</string>
			<string>compileAsIs</string>
			<string>targetCount</string>
			<string>targetCountType</string>
			<string>progress</string>
			<string>totalWords</string>
			<string>totalCharacters</string>
			<string>allKeywords</string>
			<string>totalTargetCount</string>
			<string>totalProgress</string>
		</array>
		<key>widths</key>
		<dict>
			<key>allKeywords</key>
			<real>64</real>
			<key>characters</key>
			<real>46</real>
			<key>compileAsIs</key>
			<real>110.841796875</real>
			<key>createdDate</key>
			<real>53</real>
			<key>includeInExport</key>
			<real>20</real>
			<key>label</key>
			<real>208</real>
			<key>modifiedDate</key>
			<real>50</real>
			<key>pageBreakBefore</key>
			<real>66</real>
			<key>progress</key>
			<real>50.041019439697266</real>
			<key>status</key>
			<real>103</real>
			<key>targetCount</key>
			<real>50</real>
			<key>targetCountType</key>
			<real>50</real>
			<key>title</key>
			<real>252</real>
			<key>totalCharacters</key>
			<real>96</real>
			<key>totalProgress</key>
			<real>64</real>
			<key>totalTargetCount</key>
			<real>64</real>
			<key>totalWords</key>
			<real>72</real>
			<key>words</key>
			<real>40</real>
		</dict>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {620, 294}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{0, 0}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>31 76 814 802 0 0 1440 878 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.lockedInPlace</key>
	<false/>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>107AFE45-20D7-4220-BAE2-1EF5363E4B54</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D6E7AB84-B725-416C-B2BE-70320E9FA3D3</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0B30F935-4B83-4B15-90B1-1AE2628BE383</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>553009BE-A65F-4F92-AB8B-B205631E69A6</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B80283E3-57DD-4864-96F8-22066F78A31F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>11E162E5-C0E0-4764-B847-727FE9DFD9CB</string>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C429039C-9A1B-4E78-AF37-04BC1D1B1F57</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1AF8C46F-9929-4E1D-A1B6-454E24073AAA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1AF8C46F-9929-4E1D-A1B6-454E24073AAA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CBB9F83D-2EB6-43A3-9F34-C407D6CB329D</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B80283E3-57DD-4864-96F8-22066F78A31F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3459DF35-B75F-43AE-A0F6-8017AC3FF1DA</string>
					<string>B7A345B7-DF64-4E0B-8047-68209EBFF871</string>
					<string>107AFE45-20D7-4220-BAE2-1EF5363E4B54</string>
					<string>24A4E068-7857-4B87-BEC4-BF6ACD3E2205</string>
					<string>1E6F273B-E8A0-4DF0-8B8E-6B23C684895C</string>
					<string>46DC9C7F-C12F-4039-AECE-3F50E817499A</string>
					<string>81FB9418-830A-4FC5-B9E2-078388AF4511</string>
					<string>CBB9F83D-2EB6-43A3-9F34-C407D6CB329D</string>
					<string>211ED81F-6BF0-45F6-8556-320446500E44</string>
					<string>7AC68EDC-307D-4B20-B509-4A3EB540D71C</string>
					<string>0FC5127D-2611-4152-B2D1-FDE17802B834</string>
					<string>7249A427-97DA-4917-8025-56BB649A86F2</string>
					<string>FBF5D5FB-2E5B-4231-89D6-789A45EEC8F7</string>
					<string>0CADC67C-2DA6-425E-A19C-512696F03B56</string>
					<string>325FF990-8019-455B-A57F-74333E0EA65D</string>
					<string>BCEAE8C3-B9EC-4944-A15F-6705AB8E8D2C</string>
					<string>ACA1911F-AF82-4DF5-9282-99FFEFCE6A00</string>
					<string>5BFFD05D-B7B2-4331-9FB3-E59DDE17ABB4</string>
					<string>A04B16B9-6F9B-4539-A4FB-347A3A856D64</string>
					<string>E896C4BF-7BE4-4B34-B259-8F95462AE82C</string>
					<string>FE08DF77-30FC-4701-8345-70E1C379DD0C</string>
					<string>204B224C-FB9E-4ADB-A960-F102D189F9E2</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B80283E3-57DD-4864-96F8-22066F78A31F</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>049979BB-4C5D-4095-A379-40D5EE22B7E2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9812936-5F78-4469-B014-205013D0237B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7D97E7-22F9-46CE-8B7C-7B4C5F569159</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7332CF9F-1905-426D-8EB1-618CEBE3A7B8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3E2B9F17-7A1C-47BE-8D2D-D719559C543C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7D97E7-22F9-46CE-8B7C-7B4C5F569159</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9812936-5F78-4469-B014-205013D0237B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>049979BB-4C5D-4095-A379-40D5EE22B7E2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9812936-5F78-4469-B014-205013D0237B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7D97E7-22F9-46CE-8B7C-7B4C5F569159</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7332CF9F-1905-426D-8EB1-618CEBE3A7B8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3E2B9F17-7A1C-47BE-8D2D-D719559C543C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7332CF9F-1905-426D-8EB1-618CEBE3A7B8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1AF8C46F-9929-4E1D-A1B6-454E24073AAA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B80283E3-57DD-4864-96F8-22066F78A31F</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DDF8AC31-4A85-4C8C-AE97-38C38E121C00</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>049979BB-4C5D-4095-A379-40D5EE22B7E2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7332CF9F-1905-426D-8EB1-618CEBE3A7B8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>049979BB-4C5D-4095-A379-40D5EE22B7E2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5C6527B7-917F-42FB-A393-704D6B7740A6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D10FC5A-4B16-45A6-8619-9A8528D5BF7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>76FF20ED-6CF9-46CB-B3B4-5A6E9E5744FB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>67F52996-B918-473C-94AB-23D9CE49427A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D376376-E577-4DE2-B24B-A2ACC583DDDC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D01D16C-C48F-4434-9C70-568F696F6472</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>900ACCF1-5571-4C6D-871D-CDB2F63FD0E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5C6527B7-917F-42FB-A393-704D6B7740A6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D10FC5A-4B16-45A6-8619-9A8528D5BF7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>76FF20ED-6CF9-46CB-B3B4-5A6E9E5744FB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>67F52996-B918-473C-94AB-23D9CE49427A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D376376-E577-4DE2-B24B-A2ACC583DDDC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1D01D16C-C48F-4434-9C70-568F696F6472</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>900ACCF1-5571-4C6D-871D-CDB2F63FD0E7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D9F80BDA-C62A-41EB-AA31-8CD8AF983660</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9812936-5F78-4469-B014-205013D0237B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DABD4E38-A80C-4355-93CF-93E8E89EA1F2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4CF5D5D5-40FE-472A-829E-35FC57F5365B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4D5EE7FE-C9FD-4342-87E6-908690E790F0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EB8D95A-FFB8-4DE0-A78A-60213D2BBE55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D2D055A4-C4FF-4EED-8E74-5A42FEA7710F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6DB055DB-CF08-4E5F-9C7A-781766A326ED</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4CF5D5D5-40FE-472A-829E-35FC57F5365B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4D5EE7FE-C9FD-4342-87E6-908690E790F0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EB8D95A-FFB8-4DE0-A78A-60213D2BBE55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DABD4E38-A80C-4355-93CF-93E8E89EA1F2</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4CF5D5D5-40FE-472A-829E-35FC57F5365B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9EB8D95A-FFB8-4DE0-A78A-60213D2BBE55</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4A7D97E7-22F9-46CE-8B7C-7B4C5F569159</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8E3C33C3-CEFE-4863-9847-DF51EC501456</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9F894557-6891-4635-8486-9C34C4AAE274</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>89B855C5-7978-4DD5-8AAB-E0F50B2A04D4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>256318D1-3B05-45B5-951E-D70D0E28C03F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E449F1B2-09FD-4D7C-8FDC-F82A5EC2B83F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B707D900-7E17-4752-98A5-4BEE0F659D58</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7332CF9F-1905-426D-8EB1-618CEBE3A7B8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7DF23DAD-A2CF-471F-B808-4FA75B0E1210</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>578422BE-8822-4C7A-B992-B58D002FFDB0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F9F4DB5-AA51-4649-9DE2-302EB593465B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5D8540CA-43CA-4408-B0A6-271682706254</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6A30B2B7-3EA9-4200-B27B-931BF454DA9E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C83219C-289C-4894-9049-8EBE4B923CB5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C472E441-9717-4956-A373-7F9A52D97AF3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>27369176-D2D0-4725-BB3F-F715809A1383</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7DF23DAD-A2CF-471F-B808-4FA75B0E1210</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>578422BE-8822-4C7A-B992-B58D002FFDB0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0F9F4DB5-AA51-4649-9DE2-302EB593465B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5D8540CA-43CA-4408-B0A6-271682706254</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6A30B2B7-3EA9-4200-B27B-931BF454DA9E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>2C83219C-289C-4894-9049-8EBE4B923CB5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C472E441-9717-4956-A373-7F9A52D97AF3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>27369176-D2D0-4725-BB3F-F715809A1383</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3E2B9F17-7A1C-47BE-8D2D-D719559C543C</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>60BF57C3-2032-4F4F-96D3-BE68D3BE91A7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>79CD43A9-BD53-4223-9B55-0DA33CEADF50</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B7D5F47E-20C2-40D3-A057-C20345D319B4</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A507F81A-1521-437A-A8CE-BD09081CA033</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C472E441-9717-4956-A373-7F9A52D97AF3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B80283E3-57DD-4864-96F8-22066F78A31F</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D10FC5A-4B16-45A6-8619-9A8528D5BF7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B80283E3-57DD-4864-96F8-22066F78A31F</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 3383}, {385.33333333333331, 462.66666666666652}}</string>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.selectedTextRanges</key>
	<string>18050,0</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.5</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
