<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1.5</real>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>binderIsCollapsed</key>
	<false/>
	<key>binderSelection</key>
	<array>
		<integer>5</integer>
	</array>
	<key>binderShowsLabelColorsAutosaveName</key>
	<true/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {175, 766}}</string>
		<string>{{176, 0}, {1049, 766}}</string>
	</array>
	<key>binderState</key>
	<array>
		<string>1DC4C385-56CE-47AC-99C7-40383678D5B8</string>
		<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
		<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
		<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
		<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
		<string>DC4963CE-AC3A-4768-AA38-58E72F3233A7</string>
		<string>E99FD1B6-4D81-4172-A479-F7699BF1FBD6</string>
		<string>2277EAEA-6D6D-4578-802B-50915B772BBA</string>
		<string>48387611-09C7-4A21-987B-94FD50951B29</string>
		<string>87A2F9D1-ABBC-47E5-9BDB-88B4420EE544</string>
		<string>7E2CB6B1-C2A2-4E17-9B07-0B92803FEF69</string>
		<string>52A9B464-4B9C-418F-8463-63047386C272</string>
		<string>04763B96-1326-4641-84E1-8BF1BF47CAFD</string>
		<string>89CA33AC-6BF7-4217-8ECE-6CC677680330</string>
		<string>B1DAF261-41FC-47E7-99B0-9E808A24136C</string>
	</array>
	<key>binderWidth</key>
	<real>269</real>
	<key>collectionSelectionAutosaveName</key>
	<array>
		<integer>1</integer>
	</array>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsSplitFrames</key>
	<array>
		<string>{{0, 0}, {269, 101}}</string>
		<string>{{0, 102}, {269, 623}}</string>
	</array>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1049, 403}}</string>
		<string>{{0, 404}, {1049, 332}}</string>
	</array>
	<key>editorSplitType</key>
	<integer>1</integer>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorSelectedDataTab</key>
	<integer>5</integer>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {288, 756}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>227</real>
	<key>lastDocumentSplitType</key>
	<integer>0</integer>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<string>864EA4AE-DFEB-437D-8A9E-623B91B52296</string>
	</array>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>0</integer>
	<key>mainDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F51D0C92-C447-4009-9DF6-4B5E8F5F3DE9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B0201337-CE42-492A-A344-11E6790DF245</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E41DCE0-1E5F-47C7-8DC5-896EE3FE7185</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C372BAAC-A7AA-4C37-AB38-39A25B5F143F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9FD0F09-742D-4A2E-BA24-2D58F7927359</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DB2DAE65-896F-4E80-A95F-1EB16C865688</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9FD0F09-742D-4A2E-BA24-2D58F7927359</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>43BBC801-C377-48C6-9EAE-E1EF9057A1FB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9FD0F09-742D-4A2E-BA24-2D58F7927359</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C3A19695-A3E7-40DA-B422-A2680300C109</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B9FD0F09-742D-4A2E-BA24-2D58F7927359</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9B1E4D76-169A-4893-B786-02786A72CC98</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DF4B44C2-4F91-4B90-BF83-BEB8056D8DF9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9B1E4D76-169A-4893-B786-02786A72CC98</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DF4B44C2-4F91-4B90-BF83-BEB8056D8DF9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9B1E4D76-169A-4893-B786-02786A72CC98</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DF4B44C2-4F91-4B90-BF83-BEB8056D8DF9</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9B1E4D76-169A-4893-B786-02786A72CC98</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D4612D7-B3F2-492A-B190-C1600AC5CC9F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>CCE9F745-7E42-4E53-B028-97A819E2B3AF</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D4612D7-B3F2-492A-B190-C1600AC5CC9F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D4612D7-B3F2-492A-B190-C1600AC5CC9F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BC0A75E9-B025-449C-B548-90A2A061F014</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F7B4DCD6-830C-411C-AA94-059C995DFB7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC4C385-56CE-47AC-99C7-40383678D5B8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F7B4DCD6-830C-411C-AA94-059C995DFB7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B320A9EC-D780-4125-9703-EF4C27281D41</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6A5D3F20-7195-4D1B-9C23-D7ACE131BAEC</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B320A9EC-D780-4125-9703-EF4C27281D41</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F7B4DCD6-830C-411C-AA94-059C995DFB7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F7B4DCD6-830C-411C-AA94-059C995DFB7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC4C385-56CE-47AC-99C7-40383678D5B8</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F7B4DCD6-830C-411C-AA94-059C995DFB7D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3C065B8C-7623-4481-B23C-E2F5B2A439D7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B320A9EC-D780-4125-9703-EF4C27281D41</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3B8559A8-FE5C-490F-A986-302D9978E4D6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{18, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E8D2B40F-453D-4687-8F23-A0AF052A48CC</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>9B6CAFD2-8B0F-4611-B65B-ED867D26D98A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BC0A75E9-B025-449C-B548-90A2A061F014</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B320A9EC-D780-4125-9703-EF4C27281D41</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>32804E1E-9CD0-45BE-B732-B7BFB5600F7B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E80D1D33-147A-4072-868D-8204D2C9936A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8C95D452-BBBE-48DA-BBD7-D1D3378E5A1B</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{6606, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>48387611-09C7-4A21-987B-94FD50951B29</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8C95D452-BBBE-48DA-BBD7-D1D3378E5A1B</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F63161ED-0998-43AF-AFBD-446C379DF3AB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8E1D7DA7-61B7-4377-8C8F-917579FC8D4A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8A563F28-65C6-4F43-A4E8-E552CC636FB3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{134, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>87A2F9D1-ABBC-47E5-9BDB-88B4420EE544</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8E1D7DA7-61B7-4377-8C8F-917579FC8D4A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{253, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E8D2B40F-453D-4687-8F23-A0AF052A48CC</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3B8559A8-FE5C-490F-A986-302D9978E4D6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{822, 197}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E8D2B40F-453D-4687-8F23-A0AF052A48CC</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>BC0A75E9-B025-449C-B548-90A2A061F014</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>3B8559A8-FE5C-490F-A986-302D9978E4D6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{230, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E8D2B40F-453D-4687-8F23-A0AF052A48CC</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{266, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E8D2B40F-453D-4687-8F23-A0AF052A48CC</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1FF93D96-246D-4589-82D0-F7298BB5B5C7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>D216E633-C0D8-4D8D-B3D2-E3CE81455B8A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>8E1D7DA7-61B7-4377-8C8F-917579FC8D4A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>94A2C6F3-C720-4969-8F5D-EE5C2F4B4EA5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>F63161ED-0998-43AF-AFBD-446C379DF3AB</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A2B4F696-97D2-463B-81C4-42C5980FD1F0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>32804E1E-9CD0-45BE-B732-B7BFB5600F7B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>E80D1D33-147A-4072-868D-8204D2C9936A</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1FF93D96-246D-4589-82D0-F7298BB5B5C7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>75F6FA93-598A-4687-84DA-7EF31F4045C0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7E5C8238-FFAB-4F1C-81C3-84C0742242B3</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5CBA0A39-D23B-4A7D-85C0-08B872B54F06</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E11F8EC-CE90-4870-ABC1-DAD248BD3BD0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5AC4B2F7-3615-4F9D-B537-5E23D2EE20C5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9949216-B2F5-49D7-9A1D-855115C85871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E11F8EC-CE90-4870-ABC1-DAD248BD3BD0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9949216-B2F5-49D7-9A1D-855115C85871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5AC4B2F7-3615-4F9D-B537-5E23D2EE20C5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9949216-B2F5-49D7-9A1D-855115C85871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E11F8EC-CE90-4870-ABC1-DAD248BD3BD0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>64677114-6D58-442D-A76C-A790339B8392</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4411532C-AB7A-46D2-95C9-7C4D65EF602F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>864EA4AE-DFEB-437D-8A9E-623B91B52296</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 52}, {620, 184}}</string>
	<key>mainDocumentEditor.selectedRanges</key>
	<string>{652, 0}</string>
	<key>mainDocumentEditor.selectedTextRanges</key>
	<string>652,0</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>125</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainWindowFrame</key>
	<string>22 89 1225 788 0 0 1440 877 </string>
	<key>projectStatsSheet</key>
	<dict>
		<key>countDraftFootnotes</key>
		<true/>
		<key>currentCompileGroupOnly</key>
		<false/>
		<key>excludeAnnots</key>
		<false/>
		<key>excludeFN</key>
		<false/>
		<key>includeSubdocs</key>
		<true/>
		<key>options</key>
		<integer>0</integer>
		<key>paperbackCountUsesChars</key>
		<false/>
		<key>wordsOrCharsPerPaperbackPage</key>
		<integer>300</integer>
	</dict>
	<key>searchResultsTable</key>
	<dict>
		<key>order</key>
		<array>
			<string>TITLE</string>
		</array>
		<key>widths</key>
		<dict>
			<key>TITLE</key>
			<real>120</real>
		</dict>
	</dict>
	<key>selectedCollectionTabIndex</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.binderDocuments</key>
	<array>
		<string>6EBD01FD-068E-43E1-8CC7-C66694EEF968</string>
	</array>
	<key>supportingDocumentEditor.currentEditorViewMode</key>
	<integer>0</integer>
	<key>supportingDocumentEditor.editorGroupsViewMode</key>
	<integer>1</integer>
	<key>supportingDocumentEditor.hiddenOutlinerColumnIdentifiers</key>
	<array>
		<string>createdDate</string>
		<string>modifiedDate</string>
		<string>words</string>
		<string>characters</string>
		<string>includeInExport</string>
		<string>pageBreakBefore</string>
		<string>compileAsIs</string>
		<string>targetCount</string>
		<string>targetCountType</string>
		<string>progress</string>
		<string>totalWords</string>
		<string>totalCharacters</string>
		<string>allKeywords</string>
		<string>totalTargetCount</string>
		<string>totalProgress</string>
		<string>sectionType</string>
	</array>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>99</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5CBA0A39-D23B-4A7D-85C0-08B872B54F06</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B55408AC-D61B-432D-86DB-4E72623D719F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B55408AC-D61B-432D-86DB-4E72623D719F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4411532C-AB7A-46D2-95C9-7C4D65EF602F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>864EA4AE-DFEB-437D-8A9E-623B91B52296</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AA41F93C-6665-45E2-807E-6CF47E69172B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B55408AC-D61B-432D-86DB-4E72623D719F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>64677114-6D58-442D-A76C-A790339B8392</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AA41F93C-6665-45E2-807E-6CF47E69172B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5519C482-CC52-4FB7-A933-30A7873F3A1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC4C385-56CE-47AC-99C7-40383678D5B8</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AA41F93C-6665-45E2-807E-6CF47E69172B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>864EA4AE-DFEB-437D-8A9E-623B91B52296</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>864EA4AE-DFEB-437D-8A9E-623B91B52296</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC4C385-56CE-47AC-99C7-40383678D5B8</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5519C482-CC52-4FB7-A933-30A7873F3A1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5CBA0A39-D23B-4A7D-85C0-08B872B54F06</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DC4963CE-AC3A-4768-AA38-58E72F3233A7</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>73EC9668-676F-4411-85CB-AC7CF10F3AD5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC4C385-56CE-47AC-99C7-40383678D5B8</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AA41F93C-6665-45E2-807E-6CF47E69172B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>64677114-6D58-442D-A76C-A790339B8392</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>4411532C-AB7A-46D2-95C9-7C4D65EF602F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>864EA4AE-DFEB-437D-8A9E-623B91B52296</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>B55408AC-D61B-432D-86DB-4E72623D719F</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5519C482-CC52-4FB7-A933-30A7873F3A1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E11F8EC-CE90-4870-ABC1-DAD248BD3BD0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9949216-B2F5-49D7-9A1D-855115C85871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A9949216-B2F5-49D7-9A1D-855115C85871</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>73EC9668-676F-4411-85CB-AC7CF10F3AD5</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5CBA0A39-D23B-4A7D-85C0-08B872B54F06</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1DC4C385-56CE-47AC-99C7-40383678D5B8</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E11F8EC-CE90-4870-ABC1-DAD248BD3BD0</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>1E11F8EC-CE90-4870-ABC1-DAD248BD3BD0</string>
					<string>A9949216-B2F5-49D7-9A1D-855115C85871</string>
					<string>5AC4B2F7-3615-4F9D-B537-5E23D2EE20C5</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>C8B34C15-AC70-4253-8AA6-338474D2B95B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6EBD01FD-068E-43E1-8CC7-C66694EEF968</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6EBD01FD-068E-43E1-8CC7-C66694EEF968</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6EBD01FD-068E-43E1-8CC7-C66694EEF968</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6EBD01FD-068E-43E1-8CC7-C66694EEF968</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5519C482-CC52-4FB7-A933-30A7873F3A1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>DC4963CE-AC3A-4768-AA38-58E72F3233A7</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>6EBD01FD-068E-43E1-8CC7-C66694EEF968</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>AggregateSelection</key>
				<string>{0, 0}</string>
				<key>BinderDocUUIDs</key>
				<array>
					<string>EF452BF6-4681-4B78-B066-2BCEB6FEFDF6</string>
					<string>A505DC83-6EA4-4AE8-B119-C2D6AD4F599B</string>
					<string>21CD3F4D-91F6-448B-9ECC-56AE2D5BDE6B</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5519C482-CC52-4FB7-A933-30A7873F3A1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>7858C21D-8A0B-4576-A38C-67434E66CCDA</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>5519C482-CC52-4FB7-A933-30A7873F3A1D</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>AA41F93C-6665-45E2-807E-6CF47E69172B</string>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocUUIDs</key>
				<array>
					<string>0D0EB78B-DC93-4682-B710-1581D2B40C3E</string>
				</array>
				<key>ViewMode</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 13}, {620, 231.33333333333334}}</string>
	<key>supportingDocumentEditor.selectedRanges</key>
	<string>{0, 1858}</string>
	<key>supportingDocumentEditor.selectedTextRanges</key>
	<string>0,0</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>125</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<true/>
</dict>
</plist>
